<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    
        <h1  align="center">SIGN UP</h1>
        <div class="menu" align="center">
                <form action = "{{ url_for('addrec') }}" method = "POST">
                    Name  : <input type="text" name="name" required><br><br>
                    E-Mail : <input type="email" name="email" required><br><br>
                    Mobile : <input type="text" name="mobile" required><br><br>
                    City : <input type="text" name="city" required><br><br>
                    State : <input type="text" name="state" required><br><br>
                    Country: <input type="text" name="country" required><br><br>
                    Password : <input type="password" name="Password" required><br><br>
                    <input type="submit"value = "submit" /><br>
                </form>
        
            
        </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>